<h2>Hi, I am rebootd.</h2>

<div>
	<b>The psuedonym</b>
	<p>
	  It's an allusion to solving problems with simplicity, sometimes so obvious that it's overlooked. Such as rebooting your computer. Sometimes things aren't so simple, but I'll explain in a way that makes sense.
	</p>
</div>

<div>
	<b>What I do</b>
	<p>
	  I solve problems. Technology is just how it gets done. Build it, fix it, explain it, train people about it. I'm the guy; like Macgyver for your software episode.
	</p>
</div>

<div>
	<b>Things I have been using lately</b>
	<p>
	  Android, ASP.Net MVC, .Net Framework, jQuery, AngularJS, Javascript, SQL, Ruby on Rails, MongoDB, Postgres, TFS, git, Heroku, Github, NodeJS
	</p>
</div>

<div>
	<b>Open Source</b>
	<p>
	  I have a few things on github, including the <a href="https://github.com/rebootd/csinc">source for this site</a>, but my biggest OSS success was as one of the original coders behind <a href="https://github.com/schambers/fluentmigrator" target="_blank">FluentMigrator</a>.
	</p>
</div>
