<h2>Welcome<h2>

<div>
	<b>What we do</b>
	<p>
	We solve problems with software and sometime hardware.
	</p>
	<p>
  We build web, mobile, and desktop software solutions. We can design, architect, coordinate, and develop the solution to your need. Sometimes this means building a new system, sometimes it means 'rescuing' an existing system. It always means the best possible solution for what you need, and easy people to work with.
	</p>
</div>

<div>
	<b>Most recent technologies</b>
	<p>
	  Android, Ruby on Rails, Javascript, jQuery, JSON, SQL, Cucumber, PhantomJS, Postgres, git, Github, Heroku
	</p>
	<p>
	  Also Recently used: Node, MongoDB, AngularJS, CoffeeScript, .Net, React, MongoDB, SQL
	</p>
	<p>
	  There's a lot of interest in Android lately. Here are a few of the Play store apps: <br/>
	  <ul class="reflist">
	  	<li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.showtime.dexter">Dexter</a></li>
	  	<li><a target="_blank" href="https://play.google.com/store/apps/details?id=weeklysales.adamsfarms.com.adamsfarmsweeklysaleads">Adams Farms</a></li>
	  	<li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.noticesoftware.FanSided">FanSided</a></li>
	  	<li><a target="_blank" href="https://play.google.com/store/apps/details?id=cc.updatable.doubleagent">X3Watch</a></li>
	  	<li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.fantasyalarm.fantasyalarmmlb">FantasyAlarm Baseball</a></li>
	  	<li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.fantasyalarm.fantasyalarmnfl">FantasyAlarm Football</a></li>
	  	<li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.fantorrent.base">Justin Moore</a></li>
	  	<li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.givr.givrandroid">Givr</a></li>
	  	<li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.mobileaze.ripil">Ripil</a></li>
	  	<li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.aclipsa.messenger">Aclipsa</a></li>
	  </ul>
	</p>
	<p>
	Most recent Ruby on Rails site: <a href="http://www.mycounterpane.com/" target="_blank">mycounterpane.com</a> (new site in stealth mode)
	<br/>
	Most recent Node project: <a href="https://octoblu.com/" target="_blank">octoblu.com</a>
	<br/>
	Most recent .Net client: <a href="http://srgtech.com" target="_blank">srg tech</a>
	</p>
</div>

<div>
	<b>Open Source</b>
	<p>
	  I have a few things on github, including the <a href="https://github.com/rebootd/csinc">source for this site</a>, but my biggest OSS success was as one of the original coders behind <a href="https://github.com/schambers/fluentmigrator" target="_blank">FluentMigrator</a>.
	</p>
</div>
