<h2>Hi, I am rebootd.</h2>



<p>
	I solve problems; usually with software. <a href='/contact'>Contact</a> me for more information. My 4 core business values: reliable, maintainable, rational, and understandable. Honesty and integrity are personal values, and should carry over in all you do; whether it's business or personal. 
</p>

<div>
	<b>Things I have been using lately</b>
	<p>
	  Android, ASP.Net MVC, .Net Framework, jQuery, AngularJS, Javascript, SQL, Ruby on Rails, MongoDB, Postgres, TFS, git, Heroku, Github, NodeJS
	</p>
</div>

<div>
	<b>Open Source</b>
	<p>
	  I have a few things on github, including the <a href="https://github.com/rebootd/csinc">source for this site</a>, but my biggest OSS success was as one of the original coders behind <a href="https://github.com/schambers/fluentmigrator" target="_blank">FluentMigrator</a>.
	</p>
</div>
