<h2>Contact.</h2>

<p>
  Feel free to contact me for potential projects or even just an opinion. I'll give you an honest answer either way.
</p>

<p>Phone: <span id="phone">+1 480-270-4578</span></p>
<p>
    Email: <a class="emailto" href=''>rebootd [at] computerist.co</a>
</p>
<p>
    Or: <a class="emailto" href=''>rebootd [at] computeristsolutions.com</a>
</p>

<script>
	// cheap scraping prevention
	var p = '+1 480-270-4578';
	$('#phone').val(p)
	var em = 'mailto:';em += 'rebootd';em+='@';em+='csinc';em+='.ninja';
	$('.emailto').attr('href', em)
</script>
