<h2>Hello.</h2>

<p>We build software for humans.</p>

<p>
	Ask <a href='/contact'>us</a> how, why, and anything else.
</p>

<p>
  We will build a new system, rescue an existing app, help you figure out what would work best for your start-up or existing business. We will also tell you if someone else would be more efficient, but are always happy to help.
</p>

<p>
Here are a few clients:
<br/>
<ul>
<li>Fuhu, Inc</li>
<li>Destination I Do</li>
<li>Showtime</li>
<li>TNT</li>
<li>MyCounterpane</li>
<li>Chippd</li>
<li>Octoblu (Now Citrix)</li>
<li>Givr</li>
<li>FantasyAlarm</li>
<li>SRG Tech</li>
<li>Adams Farms</li>
</ul>

</p>
