<h2>About</h2>
<div>
  <b>What I do</b>
  <p>
    My focus is solving problems with software and sometime hardware.
  </p>
  <p>
    I work with you to create a solution and build it to meet your needs.
  </p>
</div>
<b>Most recent technologies</b>
<p>
  Android, Ruby on Rails, Javascript, jQuery, JSON, SQL, Cucumber, PhantomJS, Postgres, git, Github, Heroku
</p>
<p>
  Also Recently used: Node, MongoDB, AngularJS, CoffeeScript, .Net, React, MongoDB, SQL
</p>
<div>
  <b>Open Source</b>
  <p>
    I have a few things on github, including the <a href="https://github.com/rebootd/csinc">source for this site</a> 
  </p>
</div>
