#{content_for :title, "About rebootd"}
%h2
  Hi, I am rebootd.
%p
  I build software based solutions to business problems. 
  %a{:href=>'/contact'} Contact 
  me for more information.

%div
  %b Things I have been using lately
  %p
    ASP.Net MVC, .Net Framework, jQuery, AngularJS, Javascript, SQL, Ruby on Rails, MongoDB, Postgres, TFS, git, Heroku, Github, NodeJS