<!-- Header
-->
<header>
  <div class="container">
    <div class="intro-text">
      <!-- .intro-lead-in We Build Practical And Elegant Solutions
      -->
      <div class="intro-heading">We Build Practical And Elegant Solutions</div>
      <a class="page-scroll btn btn-xl" href="#services">Tell Me More</a>
    </div>
  </div>
</header>
<!-- Services Section
-->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Services</h2>
        <h3 class="section-subheading text-muted">Reliable, Practical, and Comprehensive</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Mobile</h4>
        <p class="text-muted">We focus on Android, whether it's building your cool idea or rescuing an app from failing. We have iOS friends and can connect you.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Web</h4>
        <p class="text-muted">We love building with Ruby on Rails, Node, and .NET. API - check. Desktop and mobile - check.</p>
        <a class="page-scroll" href="#contact">Check with us</a>
        to find out more.
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-database fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Data</h4>
        <p class="text-muted">Sql or NoSql with a dash of big data (ElasticSearch). We know when to use which, and how to make them sing.</p>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio Grid Section
-->
<section class="bg-light-gray" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Portfolio</h2>
        <h3 class="section-subheading text-muted">A small sample of projects and clients.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-responsive" src="/assets/portfolio/octoblu.png"/>
        </a>
        <div class="portfolio-caption">
          <h4>Octoblu</h4>
          <p class="text-muted">Internet of Things</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-responsive" src="/assets/portfolio/mycounterpane.png"/>
        </a>
        <div class="portfolio-caption">
          <h4>MyCounterpane</h4>
          <p class="text-muted">A Community for Healing</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-responsive" src="/assets/portfolio/fuhu.png"/>
        </a>
        <div class="portfolio-caption">
          <h4>Fuhu Inc</h4>
          <p class="text-muted">Developing for Children</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-responsive" src="/assets/portfolio/chippdinstant.png"/>
        </a>
        <div class="portfolio-caption">
          <h4>Chipp'd Instant</h4>
          <p class="text-muted">Android</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-responsive" src="/assets/portfolio/pledger.png"/>
        </a>
        <div class="portfolio-caption">
          <h4>Pledger</h4>
          <p class="text-muted">Android and Ruby on Rails</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-responsive" src="/assets/portfolio/ripil.png"/>
        </a>
        <div class="portfolio-caption">
          <h4>Ripil</h4>
          <p class="text-muted">Android</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section
-->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <h3 class="section-subheading text-muted">We solve problems with software and sometimes hardware.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center text-muted">
        <h4 class="section-subheading text-muted">We Build What Works</h4>
        <p>The goal was always to build the best, pragmatic solutions for our customers, regardless of technologies. The result has been mixes of .NET, Android, Ruby on Rails, and Node; with databases ranging from SQL Server to PostgresSQL to MongoDB. Even an ElasticSearch appearance. We design and build what you need AND what fits for your needs.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center text-muted">
        <h4 class="section-subheading text-muted">What We Build With</h4>
        <p>We have expertise in: .NET, Ruby on Rails, Node, Javascript, Android, SQL (most variants), MongoDB, and all things web. We love the modern frameworks and tools like jQuery, React, Angular, Less, and Bootstrap.</p>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section
-->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contact Us</h2>
        <h3 class="section-subheading text-muted">Just ask! We love to talk about ideas!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="text-muted">
          Email:
          <a class="emailto" href="mailto:hello@computeristsolutions.com">hello [at] computeristsolutions.com</a>
        </p>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Computerist Solutions 2015</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li>
            <a href="https://github.com/rebootd">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/4spacetabs">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li>
            <a href="#" onclick="return false;">Privacy Policy</a>
          </li>
          <li>
            <a href="#" onclick="return false;">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- Portfolio Modals
-->
<!-- Use the modals below to showcase details about your portfolio projects!
-->
<!-- Portfolio Modal 1
-->
<div aria-hidden="true" class="portfolio-modal modal fade" id="portfolioModal1" role="dialog" tabindex="-1">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here
            -->
            <h2>Octoblu</h2>
            <p class="item-intro text-muted">Internet of Things with Javascript!</p>
            <p>We were brought in to help with AngularJS, and also helped building the management site and API integrations. It was a very fun project to be involved with, and continues to be an exciting product now owned by Citrix.</p>
            <p>
              <strong>> Technologies used:</strong>
              &nbsp;Javascript, Node, Express, Angular, MongoDB, oAuth, git, Github, and Sublime Text. Also: Arduino, Spark, NEST, and more things were used.
            </p>
            <ul class="list-inline">
              <li>Client: Octoblu</li>
              <li>Category: Web Development, IoT</li>
            </ul>
            <button class="btn btn-primary" data-dismiss="modal" type="button">
              <i class="fa fa-times"></i>
              Close Project
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 2
-->
<div aria-hidden="true" class="portfolio-modal modal fade" id="portfolioModal2" role="dialog" tabindex="-1">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>My Counterpane</h2>
            <p class="item-intro text-muted">Web development with heart!</p>
            <p>
              We got to help Kate build her online community for people dealing with tough issues. You need to see
              <a href="http://www.mycounterpane.com/" target="_blank">Kate's story</a>
              if you want to really get it.
            </p>
            <p>
              <strong>> Technologies used:</strong>
              &nbsp;Ruby on Rails, Javascript, git, Github, and Sublime Text.
            </p>
            <ul class="list-inline">
              <li>Client: MyCounterpane</li>
              <li>Category: Web Development</li>
            </ul>
            <button class="btn btn-primary" data-dismiss="modal" type="button">
              <i class="fa fa-times"></i>
              Close Project
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 3
-->
<div aria-hidden="true" class="portfolio-modal modal fade" id="portfolioModal3" role="dialog" tabindex="-1">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here
            -->
            <h2>Fuhu</h2>
            <p class="item-intro text-muted">Mobile Development for Kids!</p>
            <p>Fuhu continues to develop their Nabi platform with games and apps aimed at children and families, with a respect to privacy and parent preferences. This was another fun project for their growing platform.</p>
            <p>
              <strong>> Technologies used:</strong>
              &nbsp;Android, Android Studio, okhttp, git
            </p>
            <ul class="list-inline">
              <li>Client: Fuhu</li>
              <li>Category: Mobile Development</li>
            </ul>
            <button class="btn btn-primary" data-dismiss="modal" type="button">
              <i class="fa fa-times"></i>
              Close Project
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 4
-->
<div aria-hidden="true" class="portfolio-modal modal fade" id="portfolioModal4" role="dialog" tabindex="-1">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here
            -->
            <h2>Chipp'd Instant</h2>
            <p class="item-intro text-muted">Digital tagging for personally connecting!</p>
            <p>We started with Chipp'd by rescuing the Chipp'd Instant android app, and are moving into the rest of their product. Their plans include updates to their platform and the addition of devices. Lots of fun to work with this team!</p>
            <p>
              <strong>> Technologies used:</strong>
              &nbsp;Android, eclipse, Retrofit
            </p>
            <ul class="list-inline">
              <li>Client: Chipp'd</li>
              <li>Category: Mobile Development</li>
            </ul>
            <button class="btn btn-primary" data-dismiss="modal" type="button">
              <i class="fa fa-times"></i>
              Close Project
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 5
-->
<div aria-hidden="true" class="portfolio-modal modal fade" id="portfolioModal5" role="dialog" tabindex="-1">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here
            -->
            <h2>Pledger</h2>
            <p class="item-intro text-muted">Sports Driven Fundraising!</p>
            <p>We are lucky to have such great customers; it's a lot more like friends in business and Pledger is no exception! The idea is to tie together the worlds of fantasy sports and charities. Pledger made simple and beautiful a priority for their systems. You should use it if even just for that reason.</p>
            <p>
              <strong>> Technologies used:</strong>
              &nbsp;Ruby on Rails, Android, Android Studio, Javascript, git, JSON, Cucumber, PhantomJS, and Sublime Text.
            </p>
            <ul class="list-inline">
              <li>Client: Pledger</li>
              <li>Category: Web Development, Mobile Development</li>
            </ul>
            <button class="btn btn-primary" data-dismiss="modal" type="button">
              <i class="fa fa-times"></i>
              Close Project
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 6
-->
<div aria-hidden="true" class="portfolio-modal modal fade" id="portfolioModal6" role="dialog" tabindex="-1">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here
            -->
            <h2>Ripil</h2>
            <p class="item-intro text-muted">Do Good Things!</p>
            <p>Ripil wants to make a difference in the world. They want you help you make a difference and see the impact you have. In working with Ripil, we got to do what we love and help spread good will with mobile development, yay!</p>
            <p>
              <strong>> Technologies used:</strong>
              &nbsp;Android, Android Studio, JSON
            </p>
            <ul class="list-inline">
              <li>Client: Mobileaze</li>
              <li>Category: Mobile Development</li>
            </ul>
            <button class="btn btn-primary" data-dismiss="modal" type="button">
              <i class="fa fa-times"></i>
              Close Project
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
