%h2 Hello.
%p We build software for humans.
%p
  Ask
  %a{:href => "/contact"} us
  how, why, and anything else.
%p
  We will build a new system, rescue an existing app, help you figure out what would work best for your start-up or existing business. We will also tell you if someone else would be more efficient, but are always happy to help.
%p
  Here are a few clients:
  %br/
%ul
  %li Fuhu, Inc
  %li Destination I Do
  %li Showtime
  %li TNT
  %li MyCounterpane
  %li Chippd
  %li Octoblu (Now Citrix)
  %li Givr
  %li FantasyAlarm
  %li SRG Tech
  %li Adams Farms
