#{content_for :title, "Recent articles"}
%h2
  Recent Articles

- if @page > 1
  %a{:href=>"/blog?page=#{@page-1}"}
    << newer

- @posts.each do |post|
  %p
    %div
      %b
        %a{:href=>url_to_post(post)}=post.title
      %br
      %i=post.published_on.strftime('Published on %B %d, %Y')
    %div=post.get_summary.html_safe

- if @hasolder
  %a{:href=>"/blog?page=#{@page+1}"}
    older >>