#{content_for :title, "Recent articles"}
%h2
  Recent Articles

- @keys.each do |key|
  %p
    %div
      %b
        %a{:href=>url_to_post(key)}=key["title"]
      %br
      %i="Published on " + key["date"]

