/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$blue: #3bbfce;
$margin: 16px;

body{
	font-size: 100%;
	height: 100%;
	margin: 2px;
	padding: 0;
	font-family: Arial, serif;
	color: #333;
	line-height: 1.80em;
	background: #fff url('/images/bg.jpg') 0 0 repeat-y;
}

*{
	background-color: white;
	margin: 0;
	padding: 0;
}

p, blockquote, ul, ol, dl{
	margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6{
	margin-bottom: 1em;
	font-family: serif;
	font-family: 'Metrophobic', Arial, serif;
	color: #003B61;
}

h4{ font-weight: 400; font-size: 16px; font-family: 'Nunito', Arial, serif; color: #765F40;}
h2 a:link, h2 a:visited{ color: #003B61;}
h2 a:hover { color: #E14F38;}

/* ------------------------------------- */

.content-navigation {
  border-color: $blue;
  color:
    darken($blue, 9%);
}

.border {
  padding: $margin / 2;
  margin: $margin / 2;
  border-color: $blue;
}

div.header { font-family: 'Nunito', Arial, serif; }

div.nav { }
div.nav ul { margin: 0; padding: 0; float: left; }
div.nav ul li { display: inline; }
div.nav ul li a { margin-left: 1px; color: #000; margin-right: 5px; }
div.nav ul li a:hover { color: #f00; }

div.medialinks { padding-left: 10px; margin-left: 10px; }

div.content { font-family: 'Nunito', Arial, serif; }

div.container {}

div.footer { padding-top: 20px; }
div.footer ul { margin: 0; padding: 0; float: left; }
div.footer ul li { display: inline; }
div.footer ul li a { margin-left: 1px; color: #000; margin-right: 5px; }
div.footer ul li a:hover { color: #f00; }

.overlayContainer { display: none;}
.overlayBackground { top:0px; left:0px; padding-left:100px;position:absolute;z-index:1000;height:100%;width:100%;background-color:#808080;opacity:0.3;}
.overlayContent { position:absolute; border: 1px solid #000; background-color:#fff;font-weight: bold;height: 100px;width: 300px;z-index:1000;text-align:center;}
