!!!
%html{:lang => "en", "data-ng-app"=>"csinc"}
  %head
    %meta{:name=>'keywords', :content=>'custom software,custom programming,HTML,CSS,XML,.net,Ruby,Rails,JavaScript'}
    %meta{ :name=>'description', :content=>'Computerist Solutions is a customer software development company specializing in business needs of small to medium sized business'}
    %link{ :rel=>"alternate", :type=>"application/rss+xml", :title=>"Computerist Solutions Blog", :href=>"/feed/rss"}
    %meta{ 'http-equiv'=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title{"ng-bind"=>"'Computerist Solutions - ' + title"} Computerist Solutions Inc


    %link{:href=>stylesheet_link_tag(:manage, media: "all")}
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"}
    = yield :head
    = csrf_meta_tags

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand.csinc{:href => '/',:tyle=>'color:#FFAE00'} csinc
          .nav-collapse.collapse
            %ul.nav
              %li
                %a{:href=>'/about'} about

              %li
                %a{:href=>'/contact'} contact

              / %li{"ng-class"=>"{'active':isActive('/blog')}" }
              /   %a{:href=>'/#/blog'} blog
          / /.nav-collapse
    .container
      = yield

    / /container

    %div#footer
      %div.container
        %p.muted.credit
          %div
            %a{:href=>'https://github.com/rebootd'}
              %img{:src=>"/images/github.png"}  &nbsp;github
            &nbsp;|&nbsp;
            %a{:href=>'https://github.com/rebootd/csinc'} source for this site

    =javascript_include_tag "application"
    =yield :scripts
    =yield :javascript
