!!!
%html{:lang => "en", "data-ng-app"=>"csinc"}
  %head
    %meta{:name=>'keywords', :content=>'custom software,custom programming,HTML,CSS,XML,.net,Ruby,Rails,JavaScript'}
    %meta{ :name=>'description', :content=>'Computerist Solutions is a customer software development company specializing in business needs of small to medium sized business'}
    %link{ :rel=>"alternate", :type=>"application/rss+xml", :title=>"Computerist Solutions Blog", :href=>"/feed/rss"}
    %meta{ 'http-equiv'=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title{"ng-bind"=>"'Computerist Solutions - ' + title"} Computerist Solutions Inc

    / Le styles
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "/css/bootstrap-override.css", :rel => "stylesheet"}/
    :css
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
        %link{:href => "/css/bootstrap-responsive.css", :rel => "stylesheet"}/

    %link{:href=>stylesheet_link_tag(:manage, media: "all")}

    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      %script{:src => "/js/html5shiv.js"}
    / Fav and touch icons
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"}
    = yield :head
    = csrf_meta_tags
    :javascript
      // @license magnet:?xt=urn:btih:0b31508aeb0634b347b8270c7bee4d411b5d4109&dn=agpl-3.0.txt GPL-v3-or-Later
      (function(){
        var e = document.createElement('script'); e.type='text/javascript'; e.async = true;
        e.src = document.location.protocol + '//d1agz031tafz8n.cloudfront.net/thedaywefightback.js/widget.min.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s);
      })();
      // @license-end

  %body{"ng-controller"=>"AppCtrl"}
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand.csinc{:href => '/',:tyle=>'color:#FFAE00'} csinc
          .nav-collapse.collapse
            %ul.nav
              %li
                %a{:href=>'/about'} about

              %li
                %a{:href=>'/contact'} contact

              / %li{"ng-class"=>"{'active':isActive('/blog')}" }
              /   %a{:href=>'/#/blog'} blog
          / /.nav-collapse
    .container
      = yield

    / /container

    %div#footer
      %div.container
        %p.muted.credit
          %div
            %a{:href=>'https://github.com/rebootd'}
              %img{:src=>"/images/github.png"}  &nbsp;github
            %a{:href=>'https://twitter.com/computeristco'}
              %img{:src=>"/images/twitter.png"}  &nbsp;@computeristco
            %a{:href=>"https://www.linkedin.com/in/computeristco"}
              %img{:src=>"/images/linkedin.png"}  &nbsp;linkedin
            &nbsp;|&nbsp;
            %a{:href=>'https://github.com/rebootd/csinc'} source for this site

    =javascript_include_tag "application"
    =yield :scripts
    =yield :javascript
