!!!
%html{:lang => "en"}
  %head
    %meta{:name=>'keywords', :content=>'custom software,custom programming,HTML,CSS,XML,.net,Ruby,Rails,JavaScript'}
    %meta{ :name=>'description', :content=>'Computerist Solutions is a customer software development company specializing in business needs of small to medium sized business'}

    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %title Computerist Solutions
    %link{:href => "/assets/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "/assets/agency.css", :rel => "stylesheet"}
    / %link{:href => "/font-awesome/assets/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:rel=>"stylesheet", :href=>"//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"}

    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Kaushan+Script", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700", :rel => "stylesheet", :type => "text/css"}
      / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
      / WARNING: Respond.js doesn't work if you view the page via file://
      /[if lt IE 9]
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  %body#page-top.index
    / Navigation
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand.page-scroll{:href => "#page-top"} Computerist Solutions
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.hidden
              %a{:href => "/#page-top"}
            %li
              %a.page-scroll{:href => "#services"} Services
            %li
              %a.page-scroll{:href => "#portfolio"} Portfolio
            %li
              %a.page-scroll{:href => "#about"} About
            %li
              %a.page-scroll{:href => "#contact"} Contact
        / /.navbar-collapse
      / /.container-fluid
    =yield

    / jQuery
    %script{:src => "/assets/jquery.js"}
    / Bootstrap Core JavaScript
    %script{:src => "/assets/bootstrap.min.js"}
    / Plugin JavaScript
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"}
    %script{:src => "/assets/classie.js"}
    %script{:src => "/assets/cbpAnimatedHeader.js"}
    / Contact Form JavaScript
    %script{:src => "/assets/jqBootstrapValidation.js"}
    %script{:src => "/assets/contact_me.js"}
    / Custom Theme JavaScript
    %script{:src => "/assets/agency.js"}
    
