<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Software and system architecure consulting">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Home - Computerist Solutions Inc</title>

    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue-red.min.css" />
    <!-- <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.purple-amber.min.css" /> -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="./assets/prism-default.css">
    <link rel="stylesheet" href="./assets/main.css">

    <style>
    .material-icons {
      margin-top: 12px;
    }
    </style>
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Computerist Solutions</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="/">Home</a>
            <a class="mdl-navigation__link" href="/about">About</a>
            <a class="mdl-navigation__link" href="/contact">Contact</a>
            <a class="mdl-navigation__link" href="http://blog.computerist.co">Blog</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Computerist</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">Home</a>
          <a class="mdl-navigation__link" href="/about">About</a>
          <a class="mdl-navigation__link" href="/contact">Contact</a>
          <a class="mdl-navigation__link" href="http://blog.computerist.co">Blog</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <!-- Your content goes here -->
          <!-- <div class="mdl-gen__desc docs-text-styling">
            <strong>Custom CSS theme builder</strong>
            <p>Click on the color wheel to choose a primary (1) and accent (2) color to preview the theme below. When you’ve selected a color combination you like, either reference our <a href="#cdn-code">hosted CSS</a> or download the CSS by clicking the white button in the middle. You will need to include MDL’s JavaScript alongside your customised CSS to get the full experience. This is included in our default Download from the <a href="../started/index.html#download">Getting Started guide</a>.</p>
          </div> -->

          <%= yield %>

        </div>

        <footer class="docs-text-styling docs-footer mdl-mini-footer mdl-color--grey-900">
          <ul>
            <li class="mdl-mini-footer--social-btn">
              <a href="https://twitter.com/4spacetabs" class="social-btn social-btn__twitter" role="button" title="Twitter"></a>
            </li>
            <li class="mdl-mini-footer--social-btn">
              <a href="https://github.com/rebootd" class="social-btn social-btn__github ion-social-github-outline" role="button" title="GitHub"></a>
            </li>
          </ul>
          <ul class="docs-link-list">
            <li><span class="mdl-color-text--grey-600" href="https://developers.google.com/web/starter-kit/">&copy; 2016 Computerist Solutions, Inc</span></li>
          </ul>
        </footer>

      </main>
    </div>

  <body>
</html>
